mat-form-field {
    margin-top: 50px;
}

.mat-mdc-row {
    &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.025);
    }

    &:hover {
        transition: all 100ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

@media (max-width: 415px) {
    .mat-column-value {
        display: none;
    }
}