<section>
    <mat-card class="product-detail-header">
        <span>
            <h1>{{product.name}}</h1>
            <h2>{{product.description}}</h2>
        </span>
    </mat-card>

    <div class="specs-container">
        @for (spec of specs; track $index) {
        <mat-card class="spec-card">
            <button mat-icon-button (click)=" editComponent(spec)" matTooltip="Edit" matTooltipPosition="above">
                <img src="assets/img/edit.png">
            </button>
            <img src="assets/img/{{spec.icon}}" [matTooltip]="spec.tooltip" matTooltipPosition="above">
            <p>
                {{spec.value}}
                @if (spec.label === 'price') {
                €
                }
            </p>
        </mat-card>
        }
    </div>

    <app-sales-chart [productId]="productId"></app-sales-chart>
</section>