<section>
    <mat-card class="product-detail-header">
        <div [ngStyle]="{'background-color': product.img}"></div>
        <span>
            <h1>{{product.name}}</h1>
            <h2>{{product.description}}</h2>
        </span>
    </mat-card>

    <div class="specs-container">
        @for (spec of specs; track $index) {
        <mat-card class="spec-card" [ngStyle]="{'background-color': product.img}">
            <button mat-icon-button (click)="editComponent(spec)">
                <img src="assets/img/edit.png">
            </button>
            <h3>{{spec.displayLabel}}</h3>
            <p>
                {{spec.value}}
                @if (spec.label === 'price') {
                €
                }
            </p>
        </mat-card>
        }
    </div>

    <app-sales-chart [productId]="productId"></app-sales-chart>
</section>