@import '../../../styles.scss';

section {
    @include flexbox($g: 25px, $fd: column);
    width: 100%;
    margin-top: 50px;
}

.product-detail-header {
    width: 100%;
    overflow: hidden;

    >span {
        min-height: 100px;
        width: 100%;
        background-color: white;
        padding: 25px;

        >h1 {
            margin: 0;
            font-weight: 500;
            margin-bottom: 10px;
        }

        >h2 {
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            text-wrap: pretty;
        }
    }
}

.specs-container {
    @include flexbox($g: 10px);
    width: 100%;
}

.spec-card {
    @include flexbox($fd: column, $jc: flex-start, $g: 15px);
    color: white;
    padding: 10px 25px;
    background-color: #3F51B5;
    width: 12.5%;
    height: 166px;

    >h3 {
        font-weight: 500;
    }

    >p {
        text-align: center;
        text-wrap: wrap;
    }

    >button {
        position: absolute;
        top: 0;
        right: 0;


    }

    >img {
        height: 36px;
    }

}

app-sales-chart {
    width: 100%;
}

@media (max-width: 1431px) {
    .specs-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .spec-card {
        width: 100%;
        min-height: 100px;
    }
}

@media (max-width: 1024px) {
    .spec-card {

        >button {
            top: -5px;
            right: -5px;

            >img {
                height: 20px;
                width: 20px;
            }
        }

        >img {
            height: 28px;
        }
    }
}

@media (max-width: 580px) {
    .specs-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .spec-card {
        height: 100px;
        gap: 5px;
    }
}