@import '../../../styles.scss';

mat-dialog-content {
    @include flexbox($ai: flex-start, $fd: column, $g: 16px);
    max-width: 600px;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    padding-bottom: 16px;
    padding-right: 24px;
}

textarea {
    resize: none !important;
}

.two-fields {
    @include flexbox($g: 16px);
    margin-top: 4px;
    width: 100%;
}

@media (max-width: 600px) {

    mat-dialog-content {
        min-width: unset;
    }
}