.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        width: 240px;
    }
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;

    >img {
        height: 55px;
    }
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

mat-nav-list a:hover {
    transition: all 100ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.05);
}

.router-container {
    padding: 16px 30px;
    overflow: hidden;
    min-height: calc(100vh - 56px);

    @media (max-width: 768px) {
        padding: 16px 20px;
    }
}

.active-link {
    transition: all 100ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.05);
}