@import '../../../../styles.scss';

section {
    >span {
        @include flexbox();
        width: 100%;
        justify-content: center;
        margin-top: 25px;
        font-size: 16px;
    }

}

form {
    @include flexbox($fd: column);
    margin-top: 25px;

    >div {
        @include flexbox($g: 25px);

        @media (max-width: 768px) {
            @include flexbox($fd: column, $g: 10px);
        }
    }
}