<div>
    <canvas id="salesChart"></canvas>
    <form>
        <div>
            <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select [(value)]="selectedYear" (selectionChange)="updateSalesData()" class="select-year">
                    @for (year of years; track year) {
                    <mat-option [value]="year">{{year}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Month</mat-label>
                <mat-select [(value)]="selectedMonth" (selectionChange)="onMonthChange()">
                    @for (sd of salesData; track sd.month) {
                    <mat-option [value]="sd.month">{{sd.month}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Sales</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="selectedSales" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" (click)="setSale()">Update Sales</button>
    </form>
</div>