@import '../../../../styles.scss';

section>span {
    @include flexbox();
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    font-size: 16px;
}

#salesChart {
    width: 100%;
}


form {
    @include flexbox($fd: column);
    margin-top: 25px;

    >div {
        @include flexbox($g: 25px);
    }
}