<section>
    <div class="lead-board-box" cdkDropListGroup>
        <div class="lead-board">
            @for (stage of stages; track stage) {
            <mat-card class="stage" cdkDropList [cdkDropListData]="leadsByStage[stage]?.leads"
                (cdkDropListDropped)="drop($event, stage)">
                <mat-card-header>
                    <mat-card-title>{{stage}}</mat-card-title>
                    <mat-card-subtitle>
                        <span>{{leadsByStage[stage]?.totalValue || 0}}€ &bull; {{leadsByStage[stage]?.leads?.length ||
                            0}}
                            leads</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    @for (lead of leadsByStage[stage]?.leads || []; track $index) {
                    <mat-card cdkDrag>
                        <mat-card-header>
                            <mat-card-title>{{lead.title}}</mat-card-title>
                            <mat-card-subtitle>{{lead.person}}, {{lead.company}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>{{lead.value}}€</mat-card-content>
                    </mat-card>
                    }
                </mat-card-content>
            </mat-card>
            }
        </div>

        <div class="lead-interaction-box">
            <div cdkDropList></div>
            <div cdkDropList></div>
            <div cdkDropList></div>
        </div>
    </div>
    <button class="add-lead-button" (click)="openDialog()" mat-fab color="primary" matTooltip="Add lead">
        <mat-icon>add</mat-icon>
    </button>
</section>