<h1 mat-dialog-title>Add Purchase</h1>
<form [formGroup]="purchaseForm">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Product</mat-label>
            <mat-select formControlName="product" [(ngModel)]="purchase.name">
                @for (product of products; track $index) {
                <mat-option [value]="product.name">
                    {{product.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Purchase date</mat-label>
            <input formControlName="purchaseDate" matInput [(ngModel)]="purchase.purchaseDate" [matDatepicker]="picker"
                [matDatepickerFilter]="dateFilter" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-stroked-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" [disabled]="purchaseForm.invalid"
            [mat-dialog-close]="purchase">Save</button>
    </mat-dialog-actions>
</form>