header {
    margin-top: 50px;
    display: flex;
    gap: 25px;

    >button {
        height: 56px;
    }
}

mat-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-mdc-row {
    &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.025);
    }

    &:hover {
        transition: all 100ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}

@media (max-width: 427px) {
    table {
        width: 80% !important;
    }
}