@if (dialogAddUser.loading) {
<mat-spinner></mat-spinner>
}

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="first name">
    <th mat-header-cell *matHeaderCellDef>First name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="last name">
    <th mat-header-cell *matHeaderCellDef>Last name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="birth date">
    <th mat-header-cell *matHeaderCellDef>Birth date</th>
    <td mat-cell *matCellDef="let element">{{ element.birthDate }}</td>
  </ng-container>

  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef>Street</th>
    <td mat-cell *matCellDef="let element">{{ element.street }}</td>
  </ng-container>

  <ng-container matColumnDef="zip code">
    <th mat-header-cell *matHeaderCellDef>Zip code</th>
    <td mat-cell *matCellDef="let element">{{ element.zipCode }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button
  (click)="dialogAddUser.openDialog()"
  class="add-user-button"
  mat-fab
  color="primary"
  matTooltip="Add user"
>
  <mat-icon>add</mat-icon>
</button>
