mat-form-field {
    margin-top: 50px;
    width: 100%;
}

mat-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-user-button {
    position: absolute;
    right: 30px;
    bottom: 16px;
}

.mat-mdc-row {
    &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.025);
    }

    &:hover {
        transition: all 100ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}

@media (max-width: 427px) {
    table {
        width: 80% !important;
    }
}