<h1 mat-dialog-title>Edit address</h1>
<mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Street & house no.</mat-label>
        <input [(ngModel)]="user.street" matInput placeholder="Address" />
    </mat-form-field>

    <div class="two-fields">
        <mat-form-field appearance="outline">
            <mat-label>Zip code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput placeholder="Zip code" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput placeholder="City" />
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="user">
        Save
    </button>
</mat-dialog-actions>