<h1 mat-dialog-title>Edit address</h1>
<form [formGroup]="userForm">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Street & house no.</mat-label>
            <input formControlName="street" matInput placeholder="Address" />
            @if (userForm.get('street')?.hasError('required')) {
            <mat-error>
                Street & house no. is required
            </mat-error>
            }
        </mat-form-field>

        <div class="two-fields">
            <mat-form-field appearance="fill">
                <mat-label>Zip code</mat-label>
                <input formControlName="zipCode" matInput placeholder="Zip code" />
                @if (userForm.get('zipCode')?.hasError('required')) {
                <mat-error>
                    Zip code is required
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="City" />
                @if (userForm.get('city')?.hasError('required')) {
                <mat-error>
                    City is required
                </mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" [disabled]="userForm.invalid" [mat-dialog-close]="user">
            Save
        </button>
    </mat-dialog-actions>
</form>